@import "variables";
@import "mixins";

.next {
    @include style-btn-basic($secondary-colour, $primary-colour);
    max-width: 40%;
    max-height: 118px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    @media (max-width: 1024px) {
        font-size: 2.3rem;
    }

    @media (max-width: 768px) {
        font-size: 1.8rem;
        min-width: 45%;
    }

    @media (max-width: 575px) {
        font-size: 1.5rem;
        min-width: 50%;
    }

    @media (max-width: 420px) {
        font-size: 1.2rem;
    }
}

/* Animation "point" pour le boutton "prochainement" (points de suspension) */

.dot {
    position: absolute;
    margin: 0 2rem 0 .5rem;

    &::after {
        animation: point steps(1, end) 1200ms infinite;
        content: '';
    }
}

@keyframes point {
    0% {
        width: 2px;
        height: 2px;
        content: '';
    }

    25% {
        width: 2px;
        height: 2px;
        content: '.';
    }

    50% {
        width: 2px;
        height: 2px;
        content: '..';
    }

    75% {
        width: 2px;
        height: 2px;
        content: '...';
    }

    100% {
        width: 2px;
        height: 2px;
        content: '';
    }
}