@import "variables";
@import "mixins";

.next {
    @include style-btn-basic($secondary-colour, $primary-colour);
    width: 40%;
    height: 118px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    @media (max-width: 1024px) {
        font-size: 2.3rem;
        height: 9rem;
    }

    @media (max-width: 768px) {
        width: 50%;
        font-size: 2rem;
        height: 7rem;
    }

    @media (max-width: 575px) {
        width: 55%;
        font-size: 1.6rem;
        height: 5rem;
    }

    @media (max-width: 420px) {
        width: 55%;
        font-size: 1.4rem;
        height: 4rem;
    }
}

.dot {
    position: absolute;
    margin: 0 2rem 0 .5rem;

    &::after {
        animation: point steps(1, end) 1200ms infinite;
        content: '';
    }
}

@keyframes point {
    0% {
        width: 2px;
        height: 2px;
        content: '';
    }

    25% {
        width: 2px;
        height: 2px;
        content: '.';
    }

    50% {
        width: 2px;
        height: 2px;
        content: '..';
    }

    75% {
        width: 2px;
        height: 2px;
        content: '...';
    }

    100% {
        width: 2px;
        height: 2px;
        content: '';
    }
}