@import "variables";
@import "mixins";

.container {
    max-width: 1500px;
    max-height: 2388px;
    margin: 0 auto;
}

.fiches {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 5rem auto;
}

.fiche-prev {
    width: 40%;
    height: 55vh;
    @include shadow-style($shadow-colour);

    img {
        width: 30%;
    }

    h2 {
        font-size: 3rem;
    }

    h3 {
        font-size: 5rem;
    }

    @media (max-width: 1200px) {
        height: 45vh;
        width: 45%;
    }

    @media (max-width: 1024px) {
        height: 40vh;
        width: 50%;
    }

    @media (max-width: 768px) {
        height: 35vh;
        width: 60%;
    }

    @media (max-width: 575px) {
        height: 30vh;
        width: 70%;
    }

    @media (max-width: 420px) {
        height: 25vh;
        width: 80%;
    }
}

.zoom {
    transform: scale(1);
    transition: all 200ms;

    &:hover {
        transform: scale(1.15);
        opacity: 0.5;
    }
}

.fiche-prev--note {
    @include fiche-prev-style($prim-clr-note, $bg-clr-note-start, $font-note);
    font-weight: 700;

    @media (max-width: 800px) {
        img {
            width: 20%;
        }

        h2 {
            font-size: 2.8rem;
        }

        h3 {
            font-size: 4.8rem;
        }
    }

    @media (max-width: 500px) {
        h2 {
            font-size: 2.3rem;
        }

        h3 {
            font-size: 4.2rem;
        }
    }
}

.fiche-prev--chic {
    @include fiche-prev-style($prim-clr-chic, $bg-clr-chic-start, $font-chic);

    h2 {
        @include fiche-transition-style(130deg, #d8852e, #905bfd);
    }

    @media (max-width: 800px) {
        h2 {
            font-size: 2.6rem;
        }

        h3 {
            font-size: 4.6rem;
        }
    }

    @media (max-width: 500px) {
        h2 {
            font-size: 2.1rem;
        }

        h3 {
            font-size: 4.1rem;
        }
    }
}

.fiche-prev--delice {
    @include fiche-prev-style($prim-clr-delice, $bg-clr-delice-start, $font-delice);

    h2 {
        @include fiche-transition-style(130deg, #0431df, #0887fb);
        font-size: 4rem;
    }

    h3 {
        font-size: 6rem;
    }

    @media (max-width: 800px) {
        h2 {
            font-size: 3.5rem;
        }

        h3 {
            font-size: 5.5rem;
        }
    }

    @media (max-width: 500px) {
        h2 {
            font-size: 3rem;
        }

        h3 {
            font-size: 5rem;
        }
    }
}

.fiche-prev--palette {
    @include fiche-prev-style($prim-clr-palette, $bg-clr-palette-start, $font-palette);

    h2 {
        @include fiche-transition-style(130deg, #43973d, #beff7f);
        font-size: 4rem;
    }

    h3 {
        font-size: 6rem;
    }

    @media (max-width: 800px) {
        h2 {
            font-size: 3.5rem;
        }

        h3 {
            font-size: 5.5rem;
        }
    }

    @media (max-width: 500px) {
        h2 {
            font-size: 3rem;
        }

        h3 {
            font-size: 5rem;
        }
    }
}