@import "variables";
@import "mixins";

.fiches {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 5rem auto;
}

.fiche-prev {
    width: 40%;
    height: 55vh;
    @include shadow-style($shadow-colour);

    img {
        width: 25%;
    }

    h2 {
        font-size: 3rem;
    }

    h3 {
        font-size: 5rem;
    }

    @media (max-width: 1200px) {
        width: 45%;
        height: 45vh;
    }

    @media (max-width: 800px) {
        width: 50%;
        height: 35vh;
    }

    @media (max-width: 600px) {
        width: 60%;
        height: 25vh;
    }

    @media (max-width: 420px) {
        width: 65%;
        height: 20vh;
    }
}

.zoom {
    transform: scale(1);
    transition: all 200ms;

    &:hover {
        transform: scale(1.15);
        opacity: 0.5;
    }
}

/*---------------------------------------------------------------------------------------*/
/*----------------------------------Fiche Note Enchantée---------------------------------*/
/*---------------------------------------------------------------------------------------*/

.fiche-prev--note {
    @include fiche-prev-style($prim-clr-note, $bg-clr-note-start, $font-note);
    font-weight: 700;

    @media (max-width: 1200px) {
        img {
            width: 20%;
        }

        h2 {
            font-size: 2.8rem;
        }

        h3 {
            font-size: 4rem;
        }
    }

    @media (max-width: 800px) {
        img {
            width: 15%;
        }

        h2 {
            font-size: 2.5rem;
        }

        h3 {
            font-size: 3.5rem;
        }
    }

    @media (max-width: 600px) {
        h2 {
            font-size: 2rem;
        }

        h3 {
            font-size: 3rem;
        }
    }

    @media (max-width: 420px) {
        h2 {
            font-size: 1.6rem;
        }

        h3 {
            font-size: 2.5rem;
        }
    }
}

/*---------------------------------------------------------------------------------------*/
/*----------------------------------Fiche Chic Français----------------------------------*/
/*---------------------------------------------------------------------------------------*/

.fiche-prev--chic {
    @include fiche-prev-style($prim-clr-chic, $bg-clr-chic-start, $font-chic);

    h2 {
        @include fiche-transition-style(130deg, #d8852e, #905bfd);
    }

    @media (max-width: 1200px) {
        h2 {
            font-size: 2.8rem;
        }

        h3 {
            font-size: 4rem;
        }
    }

    @media (max-width: 800px) {
        h2 {
            font-size: 2.5rem;
        }

        h3 {
            font-size: 3.5rem;
        }
    }

    @media (max-width: 600px) {
        h2 {
            font-size: 2rem;
        }

        h3 {
            font-size: 3rem;
        }
    }

    @media (max-width: 420px) {
        h2 {
            font-size: 1.6rem;
        }

        h3 {
            font-size: 2.5rem;
        }
    }
}

/*---------------------------------------------------------------------------------------*/
/*----------------------------------Fiche Délice Papilles--------------------------------*/
/*---------------------------------------------------------------------------------------*/

.fiche-prev--delice {
    @include fiche-prev-style($prim-clr-delice, $bg-clr-delice-start, $font-delice);

    h2 {
        @include fiche-transition-style(130deg, #0431df, #0887fb);
        font-size: 4rem;
    }

    h3 {
        font-size: 6rem;
    }

    @media (max-width: 1200px) {
        h2 {
            font-size: 3.5rem;
        }

        h3 {
            font-size: 5.5rem;
        }
    }

    @media (max-width: 800px) {
        h2 {
            font-size: 3rem;
        }

        h3 {
            font-size: 5rem;
        }
    }

    @media (max-width: 600px) {
        h2 {
            font-size: 2.5rem;
        }

        h3 {
            font-size: 4.5rem;
        }
    }

    @media (max-width: 420px) {
        h2 {
            font-size: 2rem;
        }

        h3 {
            font-size: 4rem;
        }
    }
}

/*---------------------------------------------------------------------------------------*/
/*----------------------------------Fiche Palette Gout--------------------------------*/
/*---------------------------------------------------------------------------------------*/

.fiche-prev--palette {
    @include fiche-prev-style($prim-clr-palette, $bg-clr-palette-start, $font-palette);

    h2 {
        @include fiche-transition-style(130deg, #43973d, #beff7f);
        font-size: 4rem;
    }

    h3 {
        font-size: 6rem;
    }

    @media (max-width: 1200px) {
        h2 {
            font-size: 3.5rem;
        }

        h3 {
            font-size: 5.5rem;
        }
    }

    @media (max-width: 800px) {
        h2 {
            font-size: 3rem;
        }

        h3 {
            font-size: 5rem;
        }
    }

    @media (max-width: 600px) {
        h2 {
            font-size: 2.5rem;
        }

        h3 {
            font-size: 4.5rem;
        }
    }

    @media (max-width: 420px) {
        h2 {
            font-size: 2rem;
        }

        h3 {
            font-size: 4rem;
        }
    }
}