@import "./variables";

.main-header {
    max-width: 1500px;
    height: 15vh;
    font-size: 4rem;
    font-weight: 900;
    line-height: 1.5;
    background-color: $primary-colour;
    color: $secondary-colour;
    letter-spacing: -0.3rem;
    border-bottom: solid 2px $border-colour;
    display: flex;
    justify-content: center;

    a {
        color: $secondary-colour;
    }

    @media (max-width: 768px) {
        height: 12vh;
        font-size: 3rem;
    }

    @media (max-width: 420px) {
        height: 10vh;
        font-size: 2.5rem;
    }
}