$primary-colour: #579c87;
$secondary-colour: #fdcb46;
$border-colour: #a1c181;
$shadow-colour: #f1ebe9;
$color-black: #000;

$font-note: 'Kalam',
cursive;
$prim-clr-note: #6d4249;
$bg-clr-note-start: rgba(252, 223, 219, 1);
$bg-clr-note-end: rgba(252, 223, 219, 0.4);

$font-chic: 'PT Serif',
cursive;
$prim-clr-chic: #c77412;
$bg-clr-chic-start: rgba(255, 245, 254, 1);
$bg-clr-chic-end: rgba(255, 245, 254, 0.4);
$clr-p2: #a56799;
$clr-p3: #6E4CCC;
$transition-clr1-chic: #d8852e;
$transition-clr2-chic: #905bfd;

$font-delice: 'Dancing Script',
cursive;
$prim-clr-delice: #0887fb;
$bg-clr-delice-start: rgba(249, 249, 249, 1);
$bg-clr-delice-end: rgba(249, 249, 249, 0.4);
$transition-clr1-delice: #0431df;
$transition-clr2-delice: #0887fb;

$font-palette: 'Caveat',
cursive;
$prim-clr-palette: #72bf56;
$bg-clr-palette-start: rgba(253, 255, 253, 1);
$bg-clr-palette-end: rgba(253, 255, 253, 0.4);
$transition-clr1-palette: #4B9E42;
$transition-clr2-palette: #BEFF7F;

$clr-logo: #353535;

$bg-clr-fiche-note: #fcdfdb;
$clr-fiche-note: #3d1319;

$bg-clr-fiche-chic: #fff5fe;
$clr-fiche-chic: #c77412;

$bg-clr-fiche-delice: #f9f9f9;
$clr-fiche-delice: #0887fb;

$bg-clr-fiche-palette: #fdfffd;
$clr-fiche-palette: #72bf56;
$clr-underline-palette: #86D061;
$clr-underline-chic: #A56799;
$clr-underline-delice: #0660EE;